@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model StudentTrackingSystem.DAL.Models.Teatcher

@{
    ViewData["Title"] = "Teatcher Details";
}

<h2>Teatcher Details</h2>

<div>
    <strong>Full Name:</strong> @Model.FullName <br />
    <strong>Email:</strong> @Model.Email  <br />
    <strong>Phone:</strong> @Model.PhoneNumber <br />
    <strong>Subject:</strong> @Model.Subject <br />
</div>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back</a>
