@model IEnumerable<StudentTrackingSystem.DAL.Models.Teatcher>

@{
    ViewData["Title"] = "Teatchers";
}
@section Styles {
    <link rel="stylesheet" href="~/css/ShowStudents.css" />
}

<h2 class="section-title text-center mb-6">All Teachers</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<div class="d-flex align-items-center mt-5">
    <div class="col-10" style="margin-right: 10px;">
        <label for="gradeFilter" class="form-label visually-hidden">Grade</label>
        <select id="gradeFilter" class="form-select">
            <option value="all">All Teachers</option>
            <option value="Grade 1">islam</option>
            <option value="Grade 2"> ahmed</option>
            <option value="Grade 3">elamir </option>
            <option value="Grade 4">noah </option>
           
        </select>
    </div>
    <div class="col-2">
        <a href="@Url.Action("Create", "Teatcher")" class="btn btn-primary btn-md">Add New Teacher</a>
    </div>
</div>

<div class="table-responsive mt-2">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Teacher Photo</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Subject</th>
                <th>Grade</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model)
            {
                <tr>
                    <td>
                        <img src="~/img/default-teacher.png" alt="Teacher Photo" class="rounded-circle" style="width: 30px; height: 30px; object-fit: cover;" />
                        @* لو عندك صورة فعلية استخدم:
                        <img src="~/uploads/@t.PhotoPath" ... /> *@
                    </td>
                    <td>@t.FullName</td>
                    <td>@t.Email</td>
                    <td>@t.PhoneNumber</td>
                    <td>@t.Subject</td>
                    <td>t</td>
                    <td>
                        <a href="@Url.Action("Details", "Teatcher", new { id = t.Id })" class="btn btn-sm btn-outline-info me-1">
                            <i class="bi bi-eye-fill">Details</i>
                        </a>
                        <a href="@Url.Action("Edit", "Teatcher", new { id = t.Id })" class="btn btn-sm btn-outline-primary me-1">
                            <i class="bi bi-pencil-fill">Edit</i>
                        </a>
                        <a href="@Url.Action("Delete", "Teatcher", new { id = t.Id })" class="btn btn-sm btn-outline-danger">
                            <i class="bi bi-trash-fill">Delete</i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
